<h1>Sign Up</h1>

<form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="6EhU37Nz3gcbL8UsJL6Q868ZOI0a/UWJ2GLMOdu4fuiMEb8y8AthB6t032Of4seUgI0NMv8wOPPNPZ/eFOkNfw==">
  <div>
    <input placeholder="First Name" type="text" name="user[first_name]" id="user_first_name">
  </div>
  <div>
    <input placeholder="Last Name" type="text" name="user[last_name]" id="user_last_name">
  </div>
  <div>
    <input placeholder="Email" type="text" name="user[email]" id="user_email">
  </div>
  <div>
    <input placeholder="Password" type="password" name="user[password]" id="user_password">
  </div>
  <input type="submit" name="commit" value="Sign Up" data-disable-with="Sign Up">
</form>
